body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #ffffff;
  color: #333333;
}
.titulo {
  justify-content: center;
  display: flex;
  font-size: 60px;
}
p {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  margin: auto;
  margin-bottom: 20px;
  width: 930px;
  justify-content: left;
  display: flex;
}
.descripcion {
  margin-left: 70px;
  margin-right: 270px;
}
a {
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  background-color: #3b3b3b;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
.logo {
  display: flex;
}
.logo img {
  height: 50px;
  align-items: center;
  position: relative;
  left: 10px;
  top: 10px;
  margin-right: 23px;
}
nav a {
  font-weight: 700;
  padding-right: 20px;
}
nav a:hover {
  color: yellowgreen;
}
@media (max-width: 640px) {
  header {
    flex-direction: row;
  }
  nav {
    padding: 10px 0px;
  }
}
.imagenes-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: auto;
  max-width: 1000px;
  max-zoom: 1000px;
  justify-content: center;
}
.imagenes-container .imagen img {
  height: 262px;
  width: 180px;
  position: relative;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}
.imagenes-container .imagen .text {
  position: relative;
  color: black;
  text-align: center;
  bottom: 2px;
  left: -140px;
  font-size: 17px;
}
.imagenes-container .imagen:hover img {
  transform: translateY(-10px);
}
.white-space{
  height: 100px;
  width: 100vh;
}