body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #ffffff;
  color: #333333;
}
.titulo {
  justify-content: center;
  display: flex;
  font-size: 40px;
}
p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}
.descripcion {
  margin-left: 270px;
  margin-right: 270px;
}
a {
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  background-color: #3b3b3b;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
.logo {
  display: flex;
}
.logo img {
  height: 50px;
  align-items: center;
  position: relative;
  left: 10px;
  top: 10px;
  margin-right: 23px;
}
nav a {
  font-weight: 700;
  padding-right: 20px;
}
nav a:hover {
  color: yellowgreen;
}
@media (max-width: 640px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}
.imagenes-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 18%;
  margin-right: 18%;
}
.imagenes-container .imagen img {
  height: 280px;
  width: 200px;
  position: relative;
}
.imagenes-container .imagen .text{
  position: absolute;
  color: black;
  text-align: center;
}
